# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.bun

# Editor files
.vscode/
.idea/
*.sublime-workspace

# Build and output directories
dist/
build/
.out/
.next/
.cache/
public/build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env*
!.env.example

# Logs and debugging
*.log
logs/
*.pid
*.seed
*.pid.lock
debug.log
yarn.lock
pnpm-lock.yaml

# Temporary files
.tmp/
.DS_Store
Thumbs.db

# Jest and Cypress testing
/.jest/
/.cypress/
/cypress/screenshots/
/cypress/videos/
/cypress/downloads/
/coverage/
*.lcov

# Parcel and Vite cache
.parcel-cache
/.vite

# ESLint, Prettier, and other tool caches
.eslintcache
.prettier-cache

# Storybook files
.storybook/
*.stories.tsx

# Netlify
.netlify/
netlify.toml
